@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?uucbtw');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?uucbtw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?uucbtw') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?uucbtw') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?uucbtw##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-message-outline {
  &:before {
    content: $ti-message-outline; 
  }
}
.ti-add-person {
  &:before {
    content: $ti-add-person; 
  }
}
.ti-messages {
  &:before {
    content: $ti-messages; 
  }
}
.ti-account-settings {
  &:before {
    content: $ti-account-settings; 
  }
}
.ti-dots-vertical {
  &:before {
    content: $ti-dots-vertical; 
  }
}
.ti-paperclip {
  &:before {
    content: $ti-paperclip; 
  }
}
.ti-filter-outline {
  &:before {
    content: $ti-filter-outline; 
  }
}
.ti-printer {
  &:before {
    content: $ti-printer; 
  }
}
.ti-trash-can-outline {
  &:before {
    content: $ti-trash-can-outline; 
  }
}
.ti-trash-can {
  &:before {
    content: $ti-trash-can; 
  }
}
.ti-delete-outline {
  &:before {
    content: $ti-delete-outline; 
  }
}
.ti-cash-multiple {
  &:before {
    content: $ti-cash-multiple; 
  }
}
.ti-arrow-left-thick {
  &:before {
    content: $ti-arrow-left-thick; 
  }
}
.ti-account-switch {
  &:before {
    content: $ti-account-switch; 
  }
}
.ti-icon_reduce_price {
  &:before {
    content: $ti-icon_reduce_price; 
  }
}
.ti-printer-3d {
  &:before {
    content: $ti-printer-3d; 
  }
}
.ti-calculator {
  &:before {
    content: $ti-calculator; 
  }
}
.ti-cart-arrow-down {
  &:before {
    content: $ti-cart-arrow-down; 
  }
}
.ti-account-heart {
  &:before {
    content: $ti-account-heart; 
  }
}
.ti-finance {
  &:before {
    content: $ti-finance; 
  }
}
.ti-account-group-outline {
  &:before {
    content: $ti-account-group-outline; 
  }
}
.ti-account-group {
  &:before {
    content: $ti-account-group; 
  }
}
.ti-home {
  &:before {
    content: $ti-home; 
  }
}
.ti-heart-broken {
  &:before {
    content: $ti-heart-broken; 
  }
}
.ti-clock {
  &:before {
    content: $ti-clock; 
  }
}
.ti-alert-circle {
  &:before {
    content: $ti-alert-circle; 
  }
}
.ti-account-convert {
  &:before {
    content: $ti-account-convert; 
  }
}
.ti-currency-usd {
  &:before {
    content: $ti-currency-usd; 
  }
}
.ti-flash {
  &:before {
    content: $ti-flash; 
  }
}
.ti-account-tie {
  &:before {
    content: $ti-account-tie; 
  }
}
.ti-clock-outline {
  &:before {
    content: $ti-clock-outline; 
  }
}
.ti-email-outline {
  &:before {
    content: $ti-email-outline; 
  }
}
.ti-checkbox-blank-outline {
  &:before {
    content: $ti-checkbox-blank-outline; 
  }
}
.ti-cloud-upload-outline {
  &:before {
    content: $ti-cloud-upload-outline; 
  }
}
.ti-office-building {
  &:before {
    content: $ti-office-building; 
  }
}
.ti-link-variant {
  &:before {
    content: $ti-link-variant; 
  }
}
.ti-instagram {
  &:before {
    content: $ti-instagram; 
  }
}
.ti-pencil-plus-outline {
  &:before {
    content: $ti-pencil-plus-outline; 
  }
}
.ti-pin-outline {
  &:before {
    content: $ti-pin-outline; 
  }
}
.ti-menu {
  &:before {
    content: $ti-menu; 
  }
}
.ti-image-multiple {
  &:before {
    content: $ti-image-multiple; 
  }
}
.ti-star1 {
  &:before {
    content: $ti-star1; 
  }
}
.ti-account-multiple {
  &:before {
    content: $ti-account-multiple; 
  }
}
.ti-dots-horizontal {
  &:before {
    content: $ti-dots-horizontal; 
  }
}
.ti-facebook {
  &:before {
    content: $ti-facebook; 
  }
}
.ti-chat-processing {
  &:before {
    content: $ti-chat-processing; 
  }
}
.ti-logout {
  &:before {
    content: $ti-logout; 
  }
}
.ti-iconfinder_new-google-favicon_682665 .path1 {
  &:before {
    content: $ti-iconfinder_new-google-favicon_682665-path1;  
    color: rgb(255, 255, 255);
  }
}
.ti-iconfinder_new-google-favicon_682665 .path2 {
  &:before {
    content: $ti-iconfinder_new-google-favicon_682665-path2;  
    margin-left: -1em;  
    color: rgb(234, 67, 53);
  }
}
.ti-iconfinder_new-google-favicon_682665 .path3 {
  &:before {
    content: $ti-iconfinder_new-google-favicon_682665-path3;  
    margin-left: -1em;  
    color: rgb(251, 188, 5);
  }
}
.ti-iconfinder_new-google-favicon_682665 .path4 {
  &:before {
    content: $ti-iconfinder_new-google-favicon_682665-path4;  
    margin-left: -1em;  
    color: rgb(66, 133, 244);
  }
}
.ti-iconfinder_new-google-favicon_682665 .path5 {
  &:before {
    content: $ti-iconfinder_new-google-favicon_682665-path5;  
    margin-left: -1em;  
    color: rgb(52, 168, 83);
  }
}
.ti-square-edit-outline {
  &:before {
    content: $ti-square-edit-outline; 
  }
}
.ti-minus-circle {
  &:before {
    content: $ti-minus-circle; 
  }
}
.ti-check1 {
  &:before {
    content: $ti-check1; 
  }
}
.ti-delete1 {
  &:before {
    content: $ti-delete1; 
  }
}
.ti-file-document-outline {
  &:before {
    content: $ti-file-document-outline; 
  }
}
.ti-lead-pencil {
  &:before {
    content: $ti-lead-pencil; 
  }
}
.ti-magnify {
  &:before {
    content: $ti-magnify; 
  }
}
.ti-lock-question {
  &:before {
    content: $ti-lock-question; 
  }
}
.ti-lock-reset {
  &:before {
    content: $ti-lock-reset; 
  }
}
.ti-cash {
  &:before {
    content: $ti-cash; 
  }
}
.ti-coins {
  &:before {
    content: $ti-coins; 
  }
}
.ti-content-copy {
  &:before {
    content: $ti-content-copy; 
  }
}
.ti-file-check-outline {
  &:before {
    content: $ti-file-check-outline; 
  }
}
.ti-file-document {
  &:before {
    content: $ti-file-document; 
  }
}
.ti-triangle {
  &:before {
    content: $ti-triangle; 
  }
}
.ti-file-document-edit-outline {
  &:before {
    content: $ti-file-document-edit-outline; 
  }
}
.ti-pin {
  &:before {
    content: $ti-pin; 
  }
}
.ti-credit-card {
  &:before {
    content: $ti-credit-card; 
  }
}
.ti-checkbox-blank-circle-outline {
  &:before {
    content: $ti-checkbox-blank-circle-outline; 
  }
}
.ti-checkbox-blank-circle {
  &:before {
    content: $ti-checkbox-blank-circle; 
  }
}
.ti-arrow-right-thick {
  &:before {
    content: $ti-arrow-right-thick; 
  }
}
.ti-cart-outline {
  &:before {
    content: $ti-cart-outline; 
  }
}
.ti-icon-account {
  &:before {
    content: $ti-icon-account; 
  }
}
.ti-icon-quotation {
  &:before {
    content: $ti-icon-quotation; 
  }
}
.ti-icon_home {
  &:before {
    content: $ti-icon_home; 
  }
}
.ti-icon-transaction {
  &:before {
    content: $ti-icon-transaction; 
  }
}
.ti-icon-contact {
  &:before {
    content: $ti-icon-contact; 
  }
}
.ti-schedule {
  &:before {
    content: $ti-schedule; 
  }
}
.ti-add {
  &:before {
    content: $ti-add; 
  }
}
.ti-add_circle {
  &:before {
    content: $ti-add_circle; 
  }
}
.ti-control_point {
  &:before {
    content: $ti-control_point; 
  }
}
.ti-apps {
  &:before {
    content: $ti-apps; 
  }
}
.ti-arrow_drop_down {
  &:before {
    content: $ti-arrow_drop_down; 
  }
}
.ti-arrow_drop_down_circle {
  &:before {
    content: $ti-arrow_drop_down_circle; 
  }
}
.ti-arrow_drop_up {
  &:before {
    content: $ti-arrow_drop_up; 
  }
}
.ti-cloud_upload {
  &:before {
    content: $ti-cloud_upload; 
  }
}
.ti-brush {
  &:before {
    content: $ti-brush; 
  }
}
.ti-phone {
  &:before {
    content: $ti-phone; 
  }
}
.ti-photo_camera {
  &:before {
    content: $ti-photo_camera; 
  }
}
.ti-cancel {
  &:before {
    content: $ti-cancel; 
  }
}
.ti-check {
  &:before {
    content: $ti-check; 
  }
}
.ti-check_circle {
  &:before {
    content: $ti-check_circle; 
  }
}
.ti-navigate_next {
  &:before {
    content: $ti-navigate_next; 
  }
}
.ti-chrome_reader_mode {
  &:before {
    content: $ti-chrome_reader_mode; 
  }
}
.ti-close {
  &:before {
    content: $ti-close; 
  }
}
.ti-photo_library {
  &:before {
    content: $ti-photo_library; 
  }
}
.ti-mode_edit {
  &:before {
    content: $ti-mode_edit; 
  }
}
.ti-delete {
  &:before {
    content: $ti-delete; 
  }
}
.ti-remove_circle {
  &:before {
    content: $ti-remove_circle; 
  }
}
.ti-done {
  &:before {
    content: $ti-done; 
  }
}
.ti-markunread {
  &:before {
    content: $ti-markunread; 
  }
}
.ti-error {
  &:before {
    content: $ti-error; 
  }
}
.ti-error_outline {
  &:before {
    content: $ti-error_outline; 
  }
}
.ti-expand_less {
  &:before {
    content: $ti-expand_less; 
  }
}
.ti-expand_more {
  &:before {
    content: $ti-expand_more; 
  }
}
.ti-my_location {
  &:before {
    content: $ti-my_location; 
  }
}
.ti-star {
  &:before {
    content: $ti-star; 
  }
}
.ti-help {
  &:before {
    content: $ti-help; 
  }
}
.ti-help_outline {
  &:before {
    content: $ti-help_outline; 
  }
}
.ti-info {
  &:before {
    content: $ti-info; 
  }
}
.ti-info_outline {
  &:before {
    content: $ti-info_outline; 
  }
}
.ti-keyboard_arrow_down {
  &:before {
    content: $ti-keyboard_arrow_down; 
  }
}
.ti-keyboard_arrow_left {
  &:before {
    content: $ti-keyboard_arrow_left; 
  }
}
.ti-keyboard_arrow_right {
  &:before {
    content: $ti-keyboard_arrow_right; 
  }
}
.ti-keyboard_arrow_up {
  &:before {
    content: $ti-keyboard_arrow_up; 
  }
}
.ti-local_shipping {
  &:before {
    content: $ti-local_shipping; 
  }
}
.ti-room {
  &:before {
    content: $ti-room; 
  }
}
.ti-lock_outline {
  &:before {
    content: $ti-lock_outline; 
  }
}
.ti-sync {
  &:before {
    content: $ti-sync; 
  }
}
.ti-mail_outline {
  &:before {
    content: $ti-mail_outline; 
  }
}
.ti-notifications {
  &:before {
    content: $ti-notifications; 
  }
}
.ti-notifications_none {
  &:before {
    content: $ti-notifications_none; 
  }
}
.ti-radio_button_unchecked {
  &:before {
    content: $ti-radio_button_unchecked; 
  }
}
.ti-person {
  &:before {
    content: $ti-person; 
  }
}
.ti-phone_android {
  &:before {
    content: $ti-phone_android; 
  }
}
.ti-phone_in_talk {
  &:before {
    content: $ti-phone_in_talk; 
  }
}
.ti-phone_iphone {
  &:before {
    content: $ti-phone_iphone; 
  }
}
.ti-refresh {
  &:before {
    content: $ti-refresh; 
  }
}
.ti-remove {
  &:before {
    content: $ti-remove; 
  }
}
.ti-visibility {
  &:before {
    content: $ti-visibility; 
  }
}
.ti-search {
  &:before {
    content: $ti-search; 
  }
}
.ti-settings {
  &:before {
    content: $ti-settings; 
  }
}
.ti-stay_primary_portrait {
  &:before {
    content: $ti-stay_primary_portrait; 
  }
}
.ti-star_border {
  &:before {
    content: $ti-star_border; 
  }
}
.ti-supervisor_account {
  &:before {
    content: $ti-supervisor_account; 
  }
}
.ti-verified_user {
  &:before {
    content: $ti-verified_user; 
  }
}
.ti-visibility_off {
  &:before {
    content: $ti-visibility_off; 
  }
}
.ti-zoom_in {
  &:before {
    content: $ti-zoom_in; 
  }
}
.ti-whatsapp {
  &:before {
    content: $ti-whatsapp; 
  }
}

