@font-face {
  font-family: 'tjetak-icons';
  src:  url('fonts/tjetak-icons.eot?uucbtw');
  src:  url('fonts/tjetak-icons.eot?uucbtw#iefix') format('embedded-opentype'),
    url('fonts/tjetak-icons.ttf?uucbtw') format('truetype'),
    url('fonts/tjetak-icons.woff?uucbtw') format('woff'),
    url('fonts/tjetak-icons.svg?uucbtw#tjetak-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tjetak-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-message-outline:before {
  content: "\e94e";
}
.ti-add-person:before {
  content: "\e94d";
}
.ti-messages:before {
  content: "\e94b";
}
.ti-account-settings:before {
  content: "\e94c";
}
.ti-dots-vertical:before {
  content: "\e948";
}
.ti-paperclip:before {
  content: "\e949";
}
.ti-filter-outline:before {
  content: "\e94a";
}
.ti-printer:before {
  content: "\e947";
}
.ti-trash-can-outline:before {
  content: "\e942";
}
.ti-trash-can:before {
  content: "\e943";
}
.ti-delete-outline:before {
  content: "\e944";
}
.ti-cash-multiple:before {
  content: "\e945";
}
.ti-arrow-left-thick:before {
  content: "\e946";
}
.ti-account-switch:before {
  content: "\e941";
}
.ti-icon_reduce_price:before {
  content: "\e93d";
}
.ti-printer-3d:before {
  content: "\e93e";
}
.ti-calculator:before {
  content: "\e93f";
}
.ti-cart-arrow-down:before {
  content: "\e940";
}
.ti-account-heart:before {
  content: "\e93b";
}
.ti-finance:before {
  content: "\e93c";
}
.ti-account-group-outline:before {
  content: "\e917";
}
.ti-account-group:before {
  content: "\e918";
}
.ti-home:before {
  content: "\e919";
}
.ti-heart-broken:before {
  content: "\e91a";
}
.ti-clock:before {
  content: "\e91b";
}
.ti-alert-circle:before {
  content: "\e91c";
}
.ti-account-convert:before {
  content: "\e91d";
}
.ti-currency-usd:before {
  content: "\e91e";
}
.ti-flash:before {
  content: "\e91f";
}
.ti-account-tie:before {
  content: "\e920";
}
.ti-clock-outline:before {
  content: "\e921";
}
.ti-email-outline:before {
  content: "\e922";
}
.ti-checkbox-blank-outline:before {
  content: "\e923";
}
.ti-cloud-upload-outline:before {
  content: "\e924";
}
.ti-office-building:before {
  content: "\e925";
}
.ti-link-variant:before {
  content: "\e926";
}
.ti-instagram:before {
  content: "\e927";
}
.ti-pencil-plus-outline:before {
  content: "\e928";
}
.ti-pin-outline:before {
  content: "\e929";
}
.ti-menu:before {
  content: "\e92a";
}
.ti-image-multiple:before {
  content: "\e92b";
}
.ti-star1:before {
  content: "\e92c";
}
.ti-account-multiple:before {
  content: "\e92d";
}
.ti-dots-horizontal:before {
  content: "\e92e";
}
.ti-facebook:before {
  content: "\e92f";
}
.ti-chat-processing:before {
  content: "\e930";
}
.ti-logout:before {
  content: "\e931";
}
.ti-iconfinder_new-google-favicon_682665 .path1:before {
  content: "\e932";
  color: rgb(255, 255, 255);
}
.ti-iconfinder_new-google-favicon_682665 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.ti-iconfinder_new-google-favicon_682665 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.ti-iconfinder_new-google-favicon_682665 .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.ti-iconfinder_new-google-favicon_682665 .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.ti-square-edit-outline:before {
  content: "\e937";
}
.ti-minus-circle:before {
  content: "\e938";
}
.ti-check1:before {
  content: "\e939";
}
.ti-delete1:before {
  content: "\e93a";
}
.ti-file-document-outline:before {
  content: "\e90a";
}
.ti-lead-pencil:before {
  content: "\e915";
}
.ti-magnify:before {
  content: "\e916";
}
.ti-lock-question:before {
  content: "\e90b";
}
.ti-lock-reset:before {
  content: "\e90c";
}
.ti-cash:before {
  content: "\e90d";
}
.ti-coins:before {
  content: "\e90e";
}
.ti-content-copy:before {
  content: "\e90f";
}
.ti-file-check-outline:before {
  content: "\e910";
}
.ti-file-document:before {
  content: "\e911";
}
.ti-triangle:before {
  content: "\e912";
}
.ti-file-document-edit-outline:before {
  content: "\e913";
}
.ti-pin:before {
  content: "\e914";
}
.ti-credit-card:before {
  content: "\e900";
}
.ti-checkbox-blank-circle-outline:before {
  content: "\e901";
}
.ti-checkbox-blank-circle:before {
  content: "\e902";
}
.ti-arrow-right-thick:before {
  content: "\e903";
}
.ti-cart-outline:before {
  content: "\e904";
}
.ti-icon-account:before {
  content: "\e905";
}
.ti-icon-quotation:before {
  content: "\e906";
}
.ti-icon_home:before {
  content: "\e907";
}
.ti-icon-transaction:before {
  content: "\e908";
}
.ti-icon-contact:before {
  content: "\e909";
}
.ti-schedule:before {
  content: "\e8b5";
}
.ti-add:before {
  content: "\e145";
}
.ti-add_circle:before {
  content: "\e147";
}
.ti-control_point:before {
  content: "\e3ba";
}
.ti-apps:before {
  content: "\e5c3";
}
.ti-arrow_drop_down:before {
  content: "\e5c5";
}
.ti-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.ti-arrow_drop_up:before {
  content: "\e5c7";
}
.ti-cloud_upload:before {
  content: "\e2c3";
}
.ti-brush:before {
  content: "\e3ae";
}
.ti-phone:before {
  content: "\e0cd";
}
.ti-photo_camera:before {
  content: "\e412";
}
.ti-cancel:before {
  content: "\e5c9";
}
.ti-check:before {
  content: "\e5ca";
}
.ti-check_circle:before {
  content: "\e86c";
}
.ti-navigate_next:before {
  content: "\e409";
}
.ti-chrome_reader_mode:before {
  content: "\e86d";
}
.ti-close:before {
  content: "\e5cd";
}
.ti-photo_library:before {
  content: "\e413";
}
.ti-mode_edit:before {
  content: "\e254";
}
.ti-delete:before {
  content: "\e872";
}
.ti-remove_circle:before {
  content: "\e15c";
}
.ti-done:before {
  content: "\e876";
}
.ti-markunread:before {
  content: "\e159";
}
.ti-error:before {
  content: "\e000";
}
.ti-error_outline:before {
  content: "\e001";
}
.ti-expand_less:before {
  content: "\e5ce";
}
.ti-expand_more:before {
  content: "\e5cf";
}
.ti-my_location:before {
  content: "\e55c";
}
.ti-star:before {
  content: "\e838";
}
.ti-help:before {
  content: "\e887";
}
.ti-help_outline:before {
  content: "\e8fd";
}
.ti-info:before {
  content: "\e88e";
}
.ti-info_outline:before {
  content: "\e88f";
}
.ti-keyboard_arrow_down:before {
  content: "\e313";
}
.ti-keyboard_arrow_left:before {
  content: "\e314";
}
.ti-keyboard_arrow_right:before {
  content: "\e315";
}
.ti-keyboard_arrow_up:before {
  content: "\e316";
}
.ti-local_shipping:before {
  content: "\e558";
}
.ti-room:before {
  content: "\e8b4";
}
.ti-lock_outline:before {
  content: "\e899";
}
.ti-sync:before {
  content: "\e627";
}
.ti-mail_outline:before {
  content: "\e0e1";
}
.ti-notifications:before {
  content: "\e7f4";
}
.ti-notifications_none:before {
  content: "\e7f5";
}
.ti-radio_button_unchecked:before {
  content: "\e836";
}
.ti-person:before {
  content: "\e7fd";
}
.ti-phone_android:before {
  content: "\e324";
}
.ti-phone_in_talk:before {
  content: "\e61d";
}
.ti-phone_iphone:before {
  content: "\e325";
}
.ti-refresh:before {
  content: "\e5d5";
}
.ti-remove:before {
  content: "\e15b";
}
.ti-visibility:before {
  content: "\e8f4";
}
.ti-search:before {
  content: "\e8b6";
}
.ti-settings:before {
  content: "\e8b8";
}
.ti-stay_primary_portrait:before {
  content: "\e0d6";
}
.ti-star_border:before {
  content: "\e83a";
}
.ti-supervisor_account:before {
  content: "\e8d3";
}
.ti-verified_user:before {
  content: "\e8e8";
}
.ti-visibility_off:before {
  content: "\e8f5";
}
.ti-zoom_in:before {
  content: "\e8ff";
}
.ti-whatsapp:before {
  content: "\ea93";
}
