$icomoon-font-family: "tjetak-icons" !default;
$icomoon-font-path: "fonts" !default;

$ti-message-outline: "\e94e";
$ti-add-person: "\e94d";
$ti-messages: "\e94b";
$ti-account-settings: "\e94c";
$ti-dots-vertical: "\e948";
$ti-paperclip: "\e949";
$ti-filter-outline: "\e94a";
$ti-printer: "\e947";
$ti-trash-can-outline: "\e942";
$ti-trash-can: "\e943";
$ti-delete-outline: "\e944";
$ti-cash-multiple: "\e945";
$ti-arrow-left-thick: "\e946";
$ti-account-switch: "\e941";
$ti-icon_reduce_price: "\e93d";
$ti-printer-3d: "\e93e";
$ti-calculator: "\e93f";
$ti-cart-arrow-down: "\e940";
$ti-account-heart: "\e93b";
$ti-finance: "\e93c";
$ti-account-group-outline: "\e917";
$ti-account-group: "\e918";
$ti-home: "\e919";
$ti-heart-broken: "\e91a";
$ti-clock: "\e91b";
$ti-alert-circle: "\e91c";
$ti-account-convert: "\e91d";
$ti-currency-usd: "\e91e";
$ti-flash: "\e91f";
$ti-account-tie: "\e920";
$ti-clock-outline: "\e921";
$ti-email-outline: "\e922";
$ti-checkbox-blank-outline: "\e923";
$ti-cloud-upload-outline: "\e924";
$ti-office-building: "\e925";
$ti-link-variant: "\e926";
$ti-instagram: "\e927";
$ti-pencil-plus-outline: "\e928";
$ti-pin-outline: "\e929";
$ti-menu: "\e92a";
$ti-image-multiple: "\e92b";
$ti-star1: "\e92c";
$ti-account-multiple: "\e92d";
$ti-dots-horizontal: "\e92e";
$ti-facebook: "\e92f";
$ti-chat-processing: "\e930";
$ti-logout: "\e931";
$ti-iconfinder_new-google-favicon_682665-path1: "\e932";
$ti-iconfinder_new-google-favicon_682665-path2: "\e933";
$ti-iconfinder_new-google-favicon_682665-path3: "\e934";
$ti-iconfinder_new-google-favicon_682665-path4: "\e935";
$ti-iconfinder_new-google-favicon_682665-path5: "\e936";
$ti-square-edit-outline: "\e937";
$ti-minus-circle: "\e938";
$ti-check1: "\e939";
$ti-delete1: "\e93a";
$ti-file-document-outline: "\e90a";
$ti-lead-pencil: "\e915";
$ti-magnify: "\e916";
$ti-lock-question: "\e90b";
$ti-lock-reset: "\e90c";
$ti-cash: "\e90d";
$ti-coins: "\e90e";
$ti-content-copy: "\e90f";
$ti-file-check-outline: "\e910";
$ti-file-document: "\e911";
$ti-triangle: "\e912";
$ti-file-document-edit-outline: "\e913";
$ti-pin: "\e914";
$ti-credit-card: "\e900";
$ti-checkbox-blank-circle-outline: "\e901";
$ti-checkbox-blank-circle: "\e902";
$ti-arrow-right-thick: "\e903";
$ti-cart-outline: "\e904";
$ti-icon-account: "\e905";
$ti-icon-quotation: "\e906";
$ti-icon_home: "\e907";
$ti-icon-transaction: "\e908";
$ti-icon-contact: "\e909";
$ti-schedule: "\e8b5";
$ti-add: "\e145";
$ti-add_circle: "\e147";
$ti-control_point: "\e3ba";
$ti-apps: "\e5c3";
$ti-arrow_drop_down: "\e5c5";
$ti-arrow_drop_down_circle: "\e5c6";
$ti-arrow_drop_up: "\e5c7";
$ti-cloud_upload: "\e2c3";
$ti-brush: "\e3ae";
$ti-phone: "\e0cd";
$ti-photo_camera: "\e412";
$ti-cancel: "\e5c9";
$ti-check: "\e5ca";
$ti-check_circle: "\e86c";
$ti-navigate_next: "\e409";
$ti-chrome_reader_mode: "\e86d";
$ti-close: "\e5cd";
$ti-photo_library: "\e413";
$ti-mode_edit: "\e254";
$ti-delete: "\e872";
$ti-remove_circle: "\e15c";
$ti-done: "\e876";
$ti-markunread: "\e159";
$ti-error: "\e000";
$ti-error_outline: "\e001";
$ti-expand_less: "\e5ce";
$ti-expand_more: "\e5cf";
$ti-my_location: "\e55c";
$ti-star: "\e838";
$ti-help: "\e887";
$ti-help_outline: "\e8fd";
$ti-info: "\e88e";
$ti-info_outline: "\e88f";
$ti-keyboard_arrow_down: "\e313";
$ti-keyboard_arrow_left: "\e314";
$ti-keyboard_arrow_right: "\e315";
$ti-keyboard_arrow_up: "\e316";
$ti-local_shipping: "\e558";
$ti-room: "\e8b4";
$ti-lock_outline: "\e899";
$ti-sync: "\e627";
$ti-mail_outline: "\e0e1";
$ti-notifications: "\e7f4";
$ti-notifications_none: "\e7f5";
$ti-radio_button_unchecked: "\e836";
$ti-person: "\e7fd";
$ti-phone_android: "\e324";
$ti-phone_in_talk: "\e61d";
$ti-phone_iphone: "\e325";
$ti-refresh: "\e5d5";
$ti-remove: "\e15b";
$ti-visibility: "\e8f4";
$ti-search: "\e8b6";
$ti-settings: "\e8b8";
$ti-stay_primary_portrait: "\e0d6";
$ti-star_border: "\e83a";
$ti-supervisor_account: "\e8d3";
$ti-verified_user: "\e8e8";
$ti-visibility_off: "\e8f5";
$ti-zoom_in: "\e8ff";
$ti-whatsapp: "\ea93";

