.ti-cart-outline-4 {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;');
}
.ti-icon_account {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');
}
.ti-icon_quotation {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;');
}
.ti-icon_home {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;');
}
.ti-icon_transaction {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;');
}
.ti-icon_contact {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;');
}
.ti-add_location {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe567;');
}
.ti-cloud_upload {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2c3;');
}
.ti-phone {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0cd;');
}
.ti-navigate_next {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe409;');
}
.ti-keyboard_arrow_down {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe313;');
}
.ti-mail_outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e1;');
}
.ti-mug {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a2;');
}
.ti-whatsapp {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea93;');
}

